.contactus-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.contactus-content {
  flex: 1;
  padding: 100px;
  background-color: #f9fafb;
  overflow-y: auto;
}

.contactus-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 15px;
}

.contactus-form input,
.contactus-form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contactus-form button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}